.reveal section.slide--narrow {
  width: 75%;
  border-left: 10px solid $orange;
  left: 25%;

  &::before {
    left: calc(25% - 1.5em);
    background-image: url('redfin-logo-mark-reversed.svg');
    background-color: $orange;
  }
}
